extends layout

block content
    .row
        #title-span.span12
            h1 Newest Packages
    .row
        .span2
            ul.nav.nav-pills.nav-stacked
                li.active
                    a(href="#") All
                li
                    a(href="#") alpha
                li
                    a(href="#") amd64
                li
                    a(href="#") amd64-fbsd
                li
                    a(href="#") amd64-linux
                li
                    a(href="#") arm
                li
                    a(href="#") arm-linux
                li
                    a(href="#") hppa
                li
                    a(href="#") hppa-hpux
                li
                    a(href="#") ia64
                li
                    a(href="#") ia64-hpux
                li
                    a(href="#") ia64-linux
                li
                    a(href="#") m68k
                li
                    a(href="#") m68k-mint
                li
                    a(href="#") mips
                li
                    a(href="#") mips-irix
                li
                    a(href="#") ppc
                li
                    a(href="#") ppc-aix
                li
                    a(href="#") ppc-macos
                li
                    a(href="#") ppc64
                li
                    a(href="#") s390
                li
                    a(href="#") sh
                li
                    a(href="#") sparc
                li
                    a(href="#") sparc-fbsd
                li
                    a(href="#") sparc-solaris
                li
                    a(href="#") sparc64-solaris
                li
                    a(href="#") x64-freebsd
                li
                    a(href="#") x64-macos
                li
                    a(href="#") x64-openbsd
                li
                    a(href="#") x64-solaris
                li
                    a(href="#") x86
                li
                    a(href="#") x86-fbsd
                li
                    a(href="#") x86-freebsd
                li
                    a(href="#") x86-interix
                li
                    a(href="#") x86-linux
                li
                    a(href="#") x86-macos
                li
                    a(href="#") x86-netbsd
                li
                    a(href="#") x86-openbsd
                li
                    a(href="#") x86-solaris
                li
                    a(href="#") x86-winnt
        .span10
            .row
                .span9
                    p 15595 Packages;   30278 Ebuilds;   Last Updated: 2012-01-01 08:09 GMT
                .span1
                    a(href="#") 
                        span.label.label-info RSS
            .row
                #newest-selector.span10
                    a.btn(href="#") 
                        i.icon-ok
                        |  Stable
                    | &nbsp;
                    a.btn.btn-danger(href="#") 
                        i.icon-plus.icon-white
                        |  Unstable
        .span10
            .row
                .span3
                    h3 Today
                    
                    ul.nav.nav-list.well
                        li.nav-header Stable
                        li
                            a.po(href="/media-video/aegisub", title="media-video/aegisub-2.1.9999", data-content="Advanced SSA/ASS subtitle editor") aegisub-2.1.9999
                        
                        li
                            a.po(href="/media-plugins/alsa-plugins", title="media-plugins/alsa-plugins-1.0.25-r1", data-content="ALSA extra plugins") alsa-plugins-1.0.25-r1
                        
                        li
                            a.po(href="/dev-perl/B-Keywords", title="dev-perl/B-Keywords-1.120.0", data-content="Lists of reserved barewords and symbol names") B-Keywords-1.120.0
                        
                        li
                            a.po(href="/net-p2p/bitflu", title="net-p2p/bitflu-1.41", data-content="Bitflu is a BitTorrent client, written in Perl and is designed to run as a daemon") bitflu-1.41
                        
                        li
                            a.po(href="/media-video/bombono-dvd", title="media-video/bombono-dvd-1.2.1", data-content="GUI DVD authoring program") bombono-dvd-1.2.1
                        
                        li
                            a.po(href="/net-misc/cfengine", title="net-misc/cfengine-3.2.4", data-content="An automated suite of programs for configuring and maintaining Unix-like computers") cfengine-3.2.4
                        
                        li
                            a.po(href="/app-admin/collectd", title="app-admin/collectd-5.0.2-r1", data-content="A small daemon which collects system performance statistics - with a near-infinite number of plugins") collectd-5.0.2-r1
                        
                        li
                            a.po(href="/dev-perl/DateTime-Format-ISO8601", title="dev-perl/DateTime-Format-ISO8601-0.80.0", data-content="Parses ISO8601 formats") DateTime-Format-ISO8601-0.80.0
                        
                        li
                            a.po(href="/gnome-extra/drwright", title="gnome-extra/drwright-3.2.3", data-content="A GNOME 3 tool that forces you to take regular breaks to prevent RSI") drwright-3.2.3
                        
                        li
                            a.po(href="/gnome-extra/drwright", title="gnome-extra/drwright-3.2.4", data-content="A GNOME 3 tool that forces you to take regular breaks to prevent RSI") drwright-3.2.4
                        
                        li
                            a.po(href="/dev-perl/Encode-Locale", title="dev-perl/Encode-Locale-1.30.0", data-content="Determine the locale encoding") Encode-Locale-1.30.0
                        
                        li
                            a.po(href="/sys-apps/entropy", title="sys-apps/entropy-1.0_rc87", data-content="Entropy Package Manager foundation library") entropy-1.0_rc87
                        
                        li
                            a.po(href="/sys-apps/entropy-client-services", title="sys-apps/entropy-client-services-1.0_rc87", data-content="Entropy Package Manager client-side services") entropy-client-services-1.0_rc87
                        
                        li
                            a.po(href="/kde-misc/entropy-kioslaves", title="kde-misc/entropy-kioslaves-1.0_rc87", data-content="Entropy Package Manager KDE kioslaves support") entropy-kioslaves-1.0_rc87
                        
                        li
                            a.po(href="/sys-apps/entropy-server", title="sys-apps/entropy-server-1.0_rc87", data-content="Entropy Package Manager server-side tools") entropy-server-1.0_rc87
                        
                        li
                            a.po(href="/app-admin/equo", title="app-admin/equo-1.0_rc87", data-content="Entropy Package Manager text-based client") equo-1.0_rc87
                        
                        li
                            a.po(href="/dev-perl/Error", title="dev-perl/Error-0.170.170", data-content="Error/exception handling in an OO-ish way") Error-0.170.170
                        
                        li
                            a.po(href="/app-admin/eselect", title="app-admin/eselect-1.3.1", data-content="Gentoo's multi-purpose configuration and management tool") eselect-1.3.1
                        
                        li
                            a.po(href="/dev-perl/Eval-Closure", title="dev-perl/Eval-Closure-0.80.0", data-content="safely and cleanly create closures via string eval") Eval-Closure-0.80.0
                        
                        li
                            a.po(href="/gnome-extra/evolution-data-server", title="gnome-extra/evolution-data-server-2.32.3-r2", data-content="Evolution groupware backend") evolution-data-server-2.32.3-r2
                        
                        li
                            a.po(href="/media-libs/ffmpegsource", title="media-libs/ffmpegsource-2.17", data-content="An FFmpeg based source library for easy frame accurate access") ffmpegsource-2.17
                        
                        li
                            a.po(href="/www-client/firefox-bin", title="www-client/firefox-bin-10.0.1", data-content="Firefox Web Browser") firefox-bin-10.0.1
                        
                        li
                            a.po(href="/x11-libs/fox", title="x11-libs/fox-1.7.32", data-content="C++ based Toolkit for developing Graphical User Interfaces easily and effectively") fox-1.7.32
                        
                        li
                            a.po(href="/media-libs/freeimage", title="media-libs/freeimage-3.15.1", data-content="Image library supporting many formats") freeimage-3.15.1
                    
                .span3
                    h3 Yesterday
                    
                    ul.nav.nav-list.well
                        li.nav-header Stable & Unstable
                        li
                            a.po(href="/media-video/aegisub", title="media-video/aegisub-2.1.9999", data-content="Advanced SSA/ASS subtitle editor") aegisub-2.1.9999 
                                span.label.label-important 
                                    i.icon-fire.icon-white
                        
                        li
                            a.po(href="/media-plugins/alsa-plugins", title="media-plugins/alsa-plugins-1.0.25-r1", data-content="ALSA extra plugins") alsa-plugins-1.0.25-r1 
                                span.label.label-important 
                                    i.icon-fire.icon-white
                        li
                            a.po(href="/dev-perl/B-Keywords", title="dev-perl/B-Keywords-1.120.0", data-content="Lists of reserved barewords and symbol names") B-Keywords-1.120.0
                        
                        li
                            a.po(href="/net-p2p/bitflu", title="net-p2p/bitflu-1.41", data-content="Bitflu is a BitTorrent client, written in Perl and is designed to run as a daemon") bitflu-1.41
                        
                        li
                            a.po(href="/media-video/bombono-dvd", title="media-video/bombono-dvd-1.2.1", data-content="GUI DVD authoring program") bombono-dvd-1.2.1
                        
                        li
                            a.po(href="/net-misc/cfengine", title="net-misc/cfengine-3.2.4", data-content="An automated suite of programs for configuring and maintaining Unix-like computers") cfengine-3.2.4
                        
                        li
                            a.po(href="/app-admin/collectd", title="app-admin/collectd-5.0.2-r1", data-content="A small daemon which collects system performance statistics - with a near-infinite number of plugins") collectd-5.0.2-r1
                        
                        li
                            a.po(href="/dev-perl/DateTime-Format-ISO8601", title="dev-perl/DateTime-Format-ISO8601-0.80.0", data-content="Parses ISO8601 formats") DateTime-Format-ISO8601-0.80.0
                        
                        li
                            a.po(href="/gnome-extra/drwright", title="gnome-extra/drwright-3.2.3", data-content="A GNOME 3 tool that forces you to take regular breaks to prevent RSI") drwright-3.2.3
                        
                        li
                            a.po(href="/gnome-extra/drwright", title="gnome-extra/drwright-3.2.4", data-content="A GNOME 3 tool that forces you to take regular breaks to prevent RSI") drwright-3.2.4
                        
                        li
                            a.po(href="/dev-perl/Encode-Locale", title="dev-perl/Encode-Locale-1.30.0", data-content="Determine the locale encoding") Encode-Locale-1.30.0
                        
                        li
                            a.po(href="/sys-apps/entropy", title="sys-apps/entropy-1.0_rc87", data-content="Entropy Package Manager foundation library") entropy-1.0_rc87
                        
                        li
                            a.po(href="/sys-apps/entropy-client-services", title="sys-apps/entropy-client-services-1.0_rc87", data-content="Entropy Package Manager client-side services") entropy-client-services-1.0_rc87
                        
                        li
                            a.po(href="/kde-misc/entropy-kioslaves", title="kde-misc/entropy-kioslaves-1.0_rc87", data-content="Entropy Package Manager KDE kioslaves support") entropy-kioslaves-1.0_rc87
                        
                        li
                            a.po(href="/sys-apps/entropy-server", title="sys-apps/entropy-server-1.0_rc87", data-content="Entropy Package Manager server-side tools") entropy-server-1.0_rc87 
                                span.label.label-important 
                                    i.icon-fire.icon-white
                        li
                            a.po(href="/app-admin/equo", title="app-admin/equo-1.0_rc87", data-content="Entropy Package Manager text-based client") equo-1.0_rc87
                        
                        li
                            a.po(href="/dev-perl/Error", title="dev-perl/Error-0.170.170", data-content="Error/exception handling in an OO-ish way") Error-0.170.170
                        
                        li
                            a.po(href="/app-admin/eselect", title="app-admin/eselect-1.3.1", data-content="Gentoo's multi-purpose configuration and management tool") eselect-1.3.1 
                                span.label.label-important 
                                    i.icon-fire.icon-white
                        li
                            a.po(href="/dev-perl/Eval-Closure", title="dev-perl/Eval-Closure-0.80.0", data-content="safely and cleanly create closures via string eval") Eval-Closure-0.80.0 
                                span.label.label-important 
                                    i.icon-fire.icon-white
                        li
                            a.po(href="/gnome-extra/evolution-data-server", title="gnome-extra/evolution-data-server-2.32.3-r2", data-content="Evolution groupware backend") evolution-data-server-2.32.3-r2
                        
                        li
                            a.po(href="/media-libs/ffmpegsource", title="media-libs/ffmpegsource-2.17", data-content="An FFmpeg based source library for easy frame accurate access") ffmpegsource-2.17
                        
                        li
                            a.po(href="/www-client/firefox-bin", title="www-client/firefox-bin-10.0.1", data-content="Firefox Web Browser") firefox-bin-10.0.1
                        
                        li
                            a.po(href="/x11-libs/fox", title="x11-libs/fox-1.7.32", data-content="C++ based Toolkit for developing Graphical User Interfaces easily and effectively") fox-1.7.32
                        
                        li
                            a.po(href="/media-libs/freeimage", title="media-libs/freeimage-3.15.1", data-content="Image library supporting many formats") freeimage-3.15.1
                .span3
                    h3 2012-01-01
                    ul.nav.nav-list.well
                        li.nav-header Stable
                        li
                            a.po(href="/media-video/aegisub", title="media-video/aegisub-2.1.9999", data-content="Advanced SSA/ASS subtitle editor") aegisub-2.1.9999
                        
                        li
                            a.po(href="/media-plugins/alsa-plugins", title="media-plugins/alsa-plugins-1.0.25-r1", data-content="ALSA extra plugins") alsa-plugins-1.0.25-r1
                        
                        li
                            a.po(href="/dev-perl/B-Keywords", title="dev-perl/B-Keywords-1.120.0", data-content="Lists of reserved barewords and symbol names") B-Keywords-1.120.0
                        
                        li
                            a.po(href="/net-p2p/bitflu", title="net-p2p/bitflu-1.41", data-content="Bitflu is a BitTorrent client, written in Perl and is designed to run as a daemon") bitflu-1.41
                        
                        li
                            a.po(href="/media-video/bombono-dvd", title="media-video/bombono-dvd-1.2.1", data-content="GUI DVD authoring program") bombono-dvd-1.2.1
                        
                        li
                            a.po(href="/net-misc/cfengine", title="net-misc/cfengine-3.2.4", data-content="An automated suite of programs for configuring and maintaining Unix-like computers") cfengine-3.2.4
                        
                        li
                            a.po(href="/app-admin/collectd", title="app-admin/collectd-5.0.2-r1", data-content="A small daemon which collects system performance statistics - with a near-infinite number of plugins") collectd-5.0.2-r1
                        
                        li
                            a.po(href="/dev-perl/DateTime-Format-ISO8601", title="dev-perl/DateTime-Format-ISO8601-0.80.0", data-content="Parses ISO8601 formats") DateTime-Format-ISO8601-0.80.0
                        
                        li
                            a.po(href="/gnome-extra/drwright", title="gnome-extra/drwright-3.2.3", data-content="A GNOME 3 tool that forces you to take regular breaks to prevent RSI") drwright-3.2.3
                        
                        li
                            a.po(href="/gnome-extra/drwright", title="gnome-extra/drwright-3.2.4", data-content="A GNOME 3 tool that forces you to take regular breaks to prevent RSI") drwright-3.2.4
                        
                        li
                            a.po(href="/dev-perl/Encode-Locale", title="dev-perl/Encode-Locale-1.30.0", data-content="Determine the locale encoding") Encode-Locale-1.30.0
                        
                        li
                            a.po(href="/sys-apps/entropy", title="sys-apps/entropy-1.0_rc87", data-content="Entropy Package Manager foundation library") entropy-1.0_rc87
                        
                        li
                            a.po(href="/sys-apps/entropy-client-services", title="sys-apps/entropy-client-services-1.0_rc87", data-content="Entropy Package Manager client-side services") entropy-client-services-1.0_rc87
                        
                        li
                            a.po(href="/kde-misc/entropy-kioslaves", title="kde-misc/entropy-kioslaves-1.0_rc87", data-content="Entropy Package Manager KDE kioslaves support") entropy-kioslaves-1.0_rc87
                        
                        li
                            a.po(href="/sys-apps/entropy-server", title="sys-apps/entropy-server-1.0_rc87", data-content="Entropy Package Manager server-side tools") entropy-server-1.0_rc87
                        
                        li
                            a.po(href="/app-admin/equo", title="app-admin/equo-1.0_rc87", data-content="Entropy Package Manager text-based client") equo-1.0_rc87
                        
                        li
                            a.po(href="/dev-perl/Error", title="dev-perl/Error-0.170.170", data-content="Error/exception handling in an OO-ish way") Error-0.170.170
                        
                        li
                            a.po(href="/app-admin/eselect", title="app-admin/eselect-1.3.1", data-content="Gentoo's multi-purpose configuration and management tool") eselect-1.3.1
                        
                        li
                            a.po(href="/dev-perl/Eval-Closure", title="dev-perl/Eval-Closure-0.80.0", data-content="safely and cleanly create closures via string eval") Eval-Closure-0.80.0
                        
                        li
                            a.po(href="/gnome-extra/evolution-data-server", title="gnome-extra/evolution-data-server-2.32.3-r2", data-content="Evolution groupware backend") evolution-data-server-2.32.3-r2
                        
                        li
                            a.po(href="/media-libs/ffmpegsource", title="media-libs/ffmpegsource-2.17", data-content="An FFmpeg based source library for easy frame accurate access") ffmpegsource-2.17
                        
                        li
                            a.po(href="/www-client/firefox-bin", title="www-client/firefox-bin-10.0.1", data-content="Firefox Web Browser") firefox-bin-10.0.1
                        
                        li
                            a.po(href="/x11-libs/fox", title="x11-libs/fox-1.7.32", data-content="C++ based Toolkit for developing Graphical User Interfaces easily and effectively") fox-1.7.32
                        
                        li
                            a.po(href="/media-libs/freeimage", title="media-libs/freeimage-3.15.1", data-content="Image library supporting many formats") freeimage-3.15.1